* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #333;
}

a {
  color: inherit;
}

button {
  font-family: inherit;
}
